.contact-me{
    padding-top:4rem;
    font-family:'Roboto Slab', sans-serif;
}

.contact-me h4{
    text-align: center;
    color:#5753F1;
}

.custom-input {
    width: 100%;
  }

form{
    width:40%;
    border-radius: 16px;
    box-shadow: 3.5px 3.5px rgba(0, 0, 0, 0.377)
}

footer{
    background-color: #1C1B1B;
    width:100%;
    margin-top:30px;
    padding:15px 0;
}

.contact-details{
    display:flex;
    justify-content: center;
    align-items: center;
}

.details-text{
    font-family: "Roboto Slab";
    color:white;
    margin-right:22rem;
}

.details-text p{
    font-size: 0.9rem;
}

.details-text img{
    padding-right:6px;
}

.social-media img{
    padding-right: 0.7rem;
}

.submit-button{
    width:100%;
    padding:5px 0px;
}

#snackbar-success{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-fail{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-success.show,#snackbar-fail.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

.final-text{
    text-align:center;
    color:white;
    font-size: 12px;
}

@media (max-width:1200px){
    form{
        width:50%;
        border-radius: 16px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.377)
    }
}

@media (max-width:992px){
    form{
        width:65%;
        border-radius: 16px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.377)
    }
}

@media (max-width:768px){
    footer{
        width:100%!important;
    }
    .contact-details{
        flex-direction: column;
        justify-content: center;
    }
    .details-text{
        margin:0;
    }
    .social-media{
        padding:1rem 0;
    }

    form{
        width:75%;
        border-radius: 16px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.377)
    }
   
}
@media (max-width:576px){
    form{
        width:90%;
        border-radius: 16px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.377);
    }
}