header{
    position:relative;
    width: 100%;
    height: 600px;
    overflow:hidden;
    padding-top: 80px;
}

header h1{
    position:relative;
    color: white;
}

header .sidebuttons{
    position:absolute;
    margin-top: 90px;
    z-index: 5;
}

header .sidebuttons a{
    position:relative;
    font-size: 20px;
    padding:18px 0px;
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    margin-left:-93px;
    width:150px;
    transition: 0.6s all;
}

.profile{
    position: absolute;
    left:45%;
    top:30%;
    transform: translate(-37%,-40%);
    /* background-color: green; */
    display:flex;
    align-items: center;
    width:100%;
    z-index: 1;
}

.header-content .description{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left:60px;
    line-height: 3.5rem;
}


.description p{
    color:rgb(235, 240, 242);
    font-size: 45px;
}

.prof-img{
    border-radius: 50%;
    object-fit: cover;
    margin-left:40px;
    margin-bottom: auto;
}

.typewriter{
    display:flex;   
}

header .sidebuttons a img{
    margin-bottom:2.5px;
    margin-left:12px;
}

header .sidebuttons a:hover{
    margin-left:0;
}

.header-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-2deg);
    transform-origin: top left;
    /* #1C1B1B */
}

.header-bg #particle-canvas {
    width: 100%;
    height: 100%;
}

.btn-linkedin {
    background-color: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }

.btn-linkedin:hover {
    background: #0E76A8;
    color: #fff;
}

.btn-github {
    background-color: #000000;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
  }

.btn-github:hover {
    background: #000000;
    color: #fff;
  }

.btn-email {
    background-color: #fff;
    border-radius: 0;
    color: black!important;
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }
header .sidebuttons a .img-email{
    margin-left:22px;
}

.btn-email:hover {
    color: #000000;
    background: #fff;
  }

.navbar{
    transition: background-color 0.7s ease-in-out;
}

.nav-link{
    color:white;
    font-size:20px;
    margin-right:1.3rem;
    transition: background-color 0.7s ease-in-out;
}

@media (min-width:768px){
    .navbar.scrolled{
        background-color:rgba(250, 250, 250, 0.89);
        opacity:0.98;
        backdrop-filter: saturate(180%) blur(20px);
    }
    .navbar.scrolled .nav-link{
        color: black!important;
    }
    
    .navbar.scrolled .nav-link:hover{
        color:#5753F1!important;
    }
}

.nav-link:hover{
    color:#5753F1;
}

.links{
    /* margin-right:100px; */
}

.navbar-toggler{
    border:none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* .navbar-toggler-icon.scrolled{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
} */

.header-content{
    position:relative;
    display: flex;
    width:100%;
    height:100%;
}

.typed-cursor{
    font-size: 25px;
    color:white;
}

@media (max-width:768px){
    .sidebuttons{
        display:none
    }
    .links{
        margin-top:4px;
    }
}
