header{
    position:relative;
    width: 100%;
    height: 600px;
    overflow:hidden;
    padding-top: 80px;
}

header h1{
    position:relative;
    color: white;
}

header .sidebuttons{
    position:absolute;
    margin-top: 90px;
    z-index: 5;
}

header .sidebuttons a{
    position:relative;
    font-size: 20px;
    padding:18px 0px;
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    margin-left:-93px;
    width:150px;
    transition: 0.6s all;
}

.profile{
    position:absolute;
    left:45%;
    top:30%;
    transform: translate(-37%,-40%);
    /* background-color: green; */
    display:flex;
    align-items: center;
    width:100%;
    z-index: 1;
}

.header-content .description{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left:30px;
    line-height: 3.5rem;
}


.description p{
    color:rgb(235, 240, 242);
    font-size: 45px;
}


.prof-img{
    border-radius: 50%;
    object-fit: cover;
    margin-left:40px;
    margin-bottom: auto;
    width:380px;
    height:380px;
}

.full-name{
    font-size: 80px!important;
    color: #5753F1!important;
    font-weight: bold!important;
}

.typewriter{
    display:flex;
    /* flex-wrap: ; */
    position: relative;
    box-sizing: border-box;
}

header .sidebuttons a img{
    margin-bottom:2.5px;
    margin-left:12px;
}

header .sidebuttons a:hover{
    margin-left:0;
}

.header-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-2deg);
    transform-origin: top left;
    /* #1C1B1B */
}

.header-bg #particle-canvas {
    width: 100%;
    height: 100%;
}

.btn-linkedin {
    background-color: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }

.btn-linkedin:hover {
    background: #0E76A8;
    color: #fff;
}

.btn-github {
    background-color: #000000;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
  }

.btn-github:hover {
    background: #000000;
    color: #fff;
  }

.btn-email {
    background-color: #fff;
    border-radius: 0;
    color: black!important;
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }
header .sidebuttons a .img-email{
    margin-left:22px;
}

.btn-email:hover {
    color: #000000;
    background: #fff;
  }

.navbar{
    transition: background-color 0.7s ease-in-out;
}

.nav-link{
    color:white;
    font-size:18px;
    margin-right:1.5rem;
    transition: background-color 0.7s ease-in-out;
}


.nav-link:hover{
    color:#5753F1;
}

.navbar-toggler{
    border:none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.header-content{
    position:relative;
    display: flex;
    width:100%;
    height:100%;
}

.typed-cursor{
    font-size: 25px;
    color:white;
}

.white-space{
    display:none
}

.cv-button{
    margin-top:1rem;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
}

.download-cv{
    width: 30%;
    text-align: center;
}

@media (min-width:768px){
    .navbar.scrolled{
        background-color:rgba(250, 250, 250, 0.89);
        opacity:0.98;
        backdrop-filter: saturate(180%) blur(20px);
    }
    .navbar.scrolled .nav-link{
        color: black!important;
    }
    
    .navbar.scrolled .nav-link:hover{
        color:#5753F1!important;
    }
}

@media (max-width:1200px){
    .full-name{
        font-size: 65px!important;
    }
    .description p{
        font-size:40px;
    }
    .prof-img{
        width:340px;
        height:340px;
    }

}

@media (max-width:992px){
    .full-name{
        font-size: 55px!important;
    }
    .description p{
        font-size:35px;
    }
    .prof-img{
        width:325px;
        height:325px;
    }
    .download-cv{
        width:40%;
    }
}

@media (max-width:900px){
    .full-name{
        font-size: 45px!important;
    }
    .description p{
        font-size:30px;
    }
    .prof-img{
        width:310px;
        height:310px;
    }

    .download-cv{
        width:45%;
    }

    /* .header-content .description{
        line-height: 1.8rem;
    } */

}

@media (max-width:800px){
    .full-name{
        font-size: 40px!important;
    }
    .description p{
        font-size:30px;
    }
    .prof-img{
        width:305px;
        height:305px;
    }
}

@media (max-width:767.8px){
    .sidebuttons{
        display:none
    }
    .profile{
        transform: translate(-42%,-40%);
    }

}

@media (max-width:767px){
    .links{
        margin-top:4px;
    }
}


@media (max-width:730px){
    .full-name{
        font-size: 35px!important;
    }
    .description p{
        font-size:25px;
    }
    .prof-img{
        width:300px;
        height:300px;
    }

    .download-cv{
        width: 55%;
    }

}

@media (max-width:674px){
    .profile{
        transform: translate(-45%,-40%);
    }
}

@media (max-width:650px){
    .white-space{
        display:block;
    }
    .profile{
        transform: translate(-40%,-40%);
    }

    .download-cv{
        width: 90%;
    }

}



@media (max-width:576px){
    .white-space{
        display:none;
    }
    .profile{
        position: relative;
        display:block;
        transform: translate(-32%,-38%);
    }
    
    .header-content .description{
        line-height: 2.0rem;
        padding: 1rem 0rem;
    }

    .full-name{
        font-size: 50px!important;
    }
    .description p{
        font-size:40px;
    }
    .prof-img{
        width:315px;
        height:315px;
    }

    .download-cv{
        width: 30%;
    }
}

@media (max-width:560px){
    .profile{
        transform: translate(-33%,-38%);
    }
}

@media (max-width:540px){
    .profile{
        transform: translate(-34.5%,-38%);
    }
}

@media (max-width:520px){
    .profile{
        transform: translate(-37%,-38%);
    }
}

@media (max-width:500px){
    .profile{
        transform: translate(-38.5%,-38%);
    }

    .download-cv{
        width: 35%;
    }
}

@media (max-width:480px){
    .profile{
        transform: translate(-39.5%,-38%);
    }
}

@media (max-width:460px){
    .full-name{
        font-size: 45px!important;
    }
    .description p{
        font-size:35px;
    }
    .prof-img{
        width:310px;
        height:310px;
    }
}


@media (max-width:440px){
    .full-name{
        font-size: 40px!important;
    }
    .description p{
        font-size:30px;
    }
    .prof-img{
        width:305px;
        height:305px;
    }
}

@media (max-width:420px){
    .full-name{
        font-size: 35px!important;
    }
    .header-content .description{
        padding: 1rem 1.7rem;
    }
    .description p{
        font-size:25px;
    }
    .prof-img{
        width:300px;
        height:300px;
    }
    .download-cv{
        width: 43%;
    }
}

@media (max-width:410px){
        .full-name{
            font-size: 30px!important;
        }
        .description p{
            font-size:20px;
        }
        .prof-img{
            width:290px;
            height:290px;
        }
}

@media (max-width:390px){
    .profile{
        transform: translate(-42%,-38%);
    }
}

@media (max-width:380px){
    .prof-img{
        width:280px;
        height:280px;
    }

    .download-cv{
        width: 45%;
    }
}

@media (max-width:370px){
    .prof-img{
        width:270px;
        height:270px;
    }
}

@media (max-width:360px){
    .prof-img{
        width:260px;
        height:260px;
    }

    .download-cv{
        width: 47%;
    }
}

@media (max-width:350px){
    .prof-img{
        width:250px;
        height:250px;
    }
    .download-cv{
        width: 49%;
    }
}

@media (max-width:340px){
    .full-name{
        font-size: 28px!important;
    }
    .description p{
        font-size:18px;
    }
    .prof-img{
        width:240px;
        height:240px;
    }

    .download-cv{
        width: 51%;
    }
}

@media (max-width:330px){
    .profile{
        transform: translate(-43.5%,-38%);
    }
    .download-cv{
        width: 55%;
    }
}

@media (max-width:315px){
    .profile{
        transform: translate(-46.5%,-38%);
    }
    .download-cv{
        width: 57%;
    }
}

@media (max-width:300px){
    .full-name{
        font-size: 23px!important;
    }
    .prof-img{
        width:230px;
        height:230px;
    }
    .download-cv{
        width: 59%;
    }
}

@media (max-width:290px){
    .prof-img{
        width:220px;
        height:220px;
    }
    .download-cv{
        width: 63.5%;
    }
}
