.projects{
    font-family: 'Roboto Slab', sans-serif;
    padding-top:4rem;
    /* padding:3rem; */
}

.projects h4{
    color: #5753F1;
    text-align:center
}

.projects .project-row {
    display: flex;
    margin-bottom: 3rem;
  }


.projects .project-row .carousel {
    width: 50%;
    margin-right: 1rem;
}

  .projects .project-row .carousel {
    width: 50%;
  }

.projects .project-row .project-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
        filter: invert(70%);
  }

.details{
    display:flex;
    justify-content: space-between;
}

.carousel{
    display:flex;
    align-items: center;
}



@media (max-width:1414px){
    .project-text p{
      font-size: 1rem;
    }

    .project-text h3{
      font-size: 1.2rem;
    }

    .pr-language{
      height:40px;
      width:40px;
    }
  
    .db{
      height:30px;
      width:30px;
    }
}

@media (max-width:1414px){
  .project-text p{
    font-size: 0.8rem;
  }

  .project-text h3{
    font-size: 1rem;
  }
}

@media (max-width:1050px){
  .projects .project-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects .project-row .carousel {
    width: 80%;
    margin-right:0rem;
  }

  .projects .project-row .project-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:1rem;
  }

  .carousel-item{
    align-self: center;
    justify-content: center;
  }

  .project-text p{
    font-size: initial;
  }

  .project-text h3{
    font-size: 1.4rem;
  }

  .pr-language{
    height:60px;
    width:60px;
  }

  .db{
    height:50px;
    width:50px;
  }
}